.tree-map-section {
  display: flex;
  flex-direction: column;
}

.tree-map {
  box-sizing: border-box;
  margin-bottom: 24px;
  height: 300px;
  width: 500px;
  border: 1px solid gray;
  background-color: white;
}

@media screen and (max-width: 768px) {
  .tree-map {
    flex-direction: column;
    height: 300px;
    width: 100%;
  }
}

.tree-map-title {
  color: white;
}
